.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.style {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: calc(50vh - 50px);
  background-size: cover;
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/619597880747746885/2FE0CB254B3197309774F141485C9716EDBDB876/);
}
.card-img {
  height: 600px;
}

.input-box-style {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}
